# Python Basics
### 01_nthprogram

In [3]:
print("HI, Python I'm Back.")

HI, Python I'm Back.

### 02_operators
**PEMDAS**
  -Parentesis Exponents Multiply Divide Addition Subtraction
 -left to right sequence for M D A & S

In [6]:
print(2+3)
print(3-3)
print(2//2)
print(2**3)
print(3**4+3-4//3)

5
0
1
8
83

### 03_strigs

In [7]:
print('Learning Python')
print("Learning Python")
print(''' learnogn''')
print(  "What's up")
print(  "    What's       up   ")

Learning Python
Learning Python
 learnogn
What's up
    What's       up

### 04_comments

In [9]:
# press Ctrl+/ to comment 
# print("We are earing python")
print(2+3)
print(  "What's up")
print(  "What's up")
print(  "What's up")
print(  "What's up")

5
What's up
What's up
What's up
What's up

### 05_variables

In [12]:
# Variables : objects contain specific values
x = 5
print(x)

l = 'We are Python Experts'
print(l)

x=15
print(x)

# types of varibles
type(x)

print(type(x))
print(type(l))

#  Rules to assign varibles
# 1- The varibles should contain latters, numbers or underscores
# 2 - Dont start with numbers
# 3- Spaces are not allowed
#  4- Dont use keywordsused in functions(break, mean, median ,test etc)
# 5- Short and descriptive
# 7- Case Sensitivity (lowercase, upppercase letters shouldbe used)

fruit_basket =8
fruit_basket = "Mangoes"
del fruit_basket
# print(type(fruit_basket))
# print(fruit_basket)

5
We are Python Experts
15
<class 'int'>
<class 'str'>

### 06_INPUT Variables

In [13]:
# input function
fruit_basket = input('What is ur favfruite? ')
print(fruit_basket)

name = input("What i ur name ?")
age = input("How old are u ")
grettings= "Welcome"
print(grettings, name, 'u r ', age, "old")

What is ur favfruite?  Aplle

Aplle

What i ur name ? Arshid
How old are u  25

Welcome Arshid u r  25 old

### 07_conditional logics

In [14]:
# equal to                  ==
# not equal to              !=
# less than                 <
# greater than              >
# less than and equal to     <=
# greater than and equal to   >=
 
#  logical operators are eaiter "true or false" 0r "yes or no" or" 0 or 1"

print(3>4)
print(4<5)
print(5==5)
print(5!=4)
print(5<=4)
print(4>=3)

# application of logical operatoes / Input function and logical operators
arshid_at_campus =24
arshid_age = int(input('How old is Arshid'))

print(type(arshid_age))
print(arshid_age == arshid_at_campus)

False
True
True
True
False
True

How old is Arshid 25

<class 'int'>
False

###  08_type conversions

In [15]:
x= 10
y = 103.3
z = 'arshid'

x= x*y
print(type(x))

# x becomes float , anything evaluated with folat becoems float,and it is implicit conversion

age  = input("What is ur age")
print(type(age)) 

real_age = int(age)
print(type(real_age))

<class 'float'>

What is ur age 25

<class 'str'>
<class 'int'>

### 09_ifelse elif

In [16]:
age =25 
if age <=18 :
    print('U r teen kid')
elif age >18 & age <=35:
    print("u r young")
else:
    print("u r old")

u r young

### 10_Funcitons

In [18]:
def messege (msg):
    print (msg)
    
messege("Hii")
messege(" Hoo")

Hii
 Hoo

### 11_ Loops

In [19]:
i =1
while i<=7:
    print(i)
    i= i+1  
    if (i==3): continue
    if (i==5): break  

for i in range(1,10):
    print(i)

numbers = [1,2,3,4,5,6]
for n in numbers:
    print(n)

1
2
3
4
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6

### 12- Import liberaires

In [20]:
import math
print(math.pi)

3.141592653589793

### 13_troubleshooting

In [21]:
name = 'Arshid'
# print('Welcome name')
print('Welcome', name)
print('Welcome  ', name)
print('Welcome ' +name)

Welcome Arshid
Welcome   Arshid
Welcome Arshid